body {
    font-family: 'Arial', sans-serif;
    background-image: url('../img/scenery.png'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    overflow: hidden; 
}

.happy {
    width: 280px;
    height: 90vh;
    border: 2px solid #DAA520;
    border-radius: 10px;
    background-color: rgba(255,245,225,0.85); 
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    cursor: pointer;
    position: relative;
    overflow: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(-14px);
    scrollbar-width: none;  
}

.happy::-webkit-scrollbar {
    display: none;  
}


@media (max-width: 375px) {
    .happy {
        width: 280px;
        transform: translateX(-3px);
    }
}

.label, .result, .description1, .description2, .description3 {
    padding: 10px;
    margin: 0;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    font-size: 32px;
    font-weight: bold;
}

.result {
    font-size: 24px;
}

.back-button-container {
    flex: 1;  
    padding: 0 10px;  
    transform: translateX(-9.5px);
}

.back-button-container button {
    width: 116%;
    background-color: #DAA520; 
    border: none; 
    border-radius: 5px; 
    color: #FFF5E1; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s; 
}

.back-button-container button:hover {
    transform: scale(1.05); 
    background-color: #B8860B; 
}

.button-group {
    display: flex;
    margin-top: 20px;
}


