html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    background-size: cover; 
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #222522;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-family: "Toppan Bunkyu Gothic","凸版文久ゴシック"; font-weight: bold;
}

h1 {
    font-size: 36px;
    text-transform: uppercase;
}

.fortune-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.fortune {
    background-color: #222522;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

.result {
    font-size: 24px;
    color: #ffffff;
    font-family: Minion, fantasy;
    font-family: "Toppan Bunkyu Gothic","凸版文久ゴシック"; font-weight: bold;
}


.draw-button {
    background-color: #d7d7d7;
    color: #9a9a9a;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

#draw-button:hover {
    background-color: #444;

}